<h2>Jira Tasks</h2>

<div *ngFor="let jiraStatus of jiraStatuses">
    <p [style.color]="jiraStatus.color"><strong>{{jiraStatus.name}}</strong></p>
    <div *ngFor="let jiraIssue of jiraStatus.issues">
        <a href="{{jiraIssue.link}}">{{jiraIssue.summary}}</a>
    </div>
</div>
